In [1]:
import numpy as np
import pandas as pd

In [2]:
lenses = pd.read_csv('lenses.csv')

In [30]:
lenses

    A1  A2  A3  A4  A5  A6
0    1   1   1   1   1   3
1    2   1   1   1   2   2
2    3   1   1   2   1   3
3    4   1   1   2   2   1
4    5   1   2   1   1   3
5    6   1   2   1   2   2
6    7   1   2   2   1   3
7    8   1   2   2   2   1
8    9   2   1   1   1   3
9   10   2   1   1   2   2
10  11   2   1   2   1   3
11  12   2   1   2   2   1
12  13   2   2   1   1   3
13  14   2   2   1   2   2
14  15   2   2   2   1   3
15  16   2   2   2   2   3
16  17   3   1   1   1   3
17  18   3   1   1   2   3
18  19   3   1   2   1   3
19  20   3   1   2   2   1
20  21   3   2   1   1   3
21  22   3   2   1   2   2
22  23   3   2   2   1   3
23  24   3   2   2   2   3

In [31]:
#A última coluna é a classe
lensesX = lenses.drop(lenses.columns[-1], axis=1)
lensesX

    A1  A2  A3  A4  A5
0    1   1   1   1   1
1    2   1   1   1   2
2    3   1   1   2   1
3    4   1   1   2   2
4    5   1   2   1   1
5    6   1   2   1   2
6    7   1   2   2   1
7    8   1   2   2   2
8    9   2   1   1   1
9   10   2   1   1   2
10  11   2   1   2   1
11  12   2   1   2   2
12  13   2   2   1   1
13  14   2   2   1   2
14  15   2   2   2   1
15  16   2   2   2   2
16  17   3   1   1   1
17  18   3   1   1   2
18  19   3   1   2   1
19  20   3   1   2   2
20  21   3   2   1   1
21  22   3   2   1   2
22  23   3   2   2   1
23  24   3   2   2   2

In [32]:
from scipy.spatial.distance import squareform, pdist

In [36]:
lensesDists = pd.DataFrame(squareform(pdist(lensesX.iloc[:, 1:])), columns=lensesX.index.unique(), index=lensesX.index.unique())
lensesDists

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.000000,1.000000,1.000000,1.414214,1.000000,1.414214,1.414214,1.732051,1.000000,1.414214,...,1.732051,2.000000,2.000000,2.236068,2.236068,2.449490,2.236068,2.449490,2.449490,2.645751
1,1.000000,0.000000,1.414214,1.000000,1.414214,1.000000,1.732051,1.414214,1.414214,1.000000,...,2.000000,1.732051,2.236068,2.000000,2.449490,2.236068,2.449490,2.236068,2.645751,2.449490
2,1.000000,1.414214,0.000000,1.000000,1.414214,1.732051,1.000000,1.414214,1.414214,1.732051,...,1.414214,1.732051,2.236068,2.449490,2.000000,2.236068,2.449490,2.645751,2.236068,2.449490
3,1.414214,1.000000,1.000000,0.000000,1.732051,1.414214,1.414214,1.000000,1.732051,1.414214,...,1.732051,1.414214,2.449490,2.236068,2.236068,2.000000,2.645751,2.449490,2.449490,2.236068
4,1.000000,1.414214,1.414214,1.732051,0.000000,1.000000,1.000000,1.414214,1.414214,1.732051,...,1.414214,1.732051,2.236068,2.449490,2.449490,2.645751,2.000000,2.236068,2.236068,2.449490
5,1.414214,1.000000,1.732051,1.414214,1.000000,0.000000,1.414214,1.000000,1.732051,1.414214,...,1.732051,1.414214,2.449490,2.236068,2.645751,2.449490,2.236068,2.000000,2.449490,2.236068
6,1.414214,1.732051,1.000000,1.414214,1.000000,1.414214,0.000000,1.000000,1.732051,2.000000,...,1.000000,1.414214,2.449490,2.645751,2.236068,2.449490,2.236068,2.449490,2.000000,2.236068
7,1.732051,1.414214,1.414214,1.000000,1.414214,1.000000,1.000000,0.000000,2.000000,1.732051,...,1.414214,1.000000,2.645751,2.449490,2.449490,2.236068,2.449490,2.236068,2.236068,2.000000
8,1.000000,1.414214,1.414214,1.732051,1.414214,1.732051,1.732051,2.000000,0.000000,1.000000,...,1.414214,1.732051,1.000000,1.414214,1.414214,1.732051,1.414214,1.732051,1.732051,2.000000
9,1.414214,1.000000,1.732051,1.414214,1.732051,1.414214,2.000000,1.732051,1.000000,0.000000,...,1.732051,1.414214,1.414214,1.000000,1.732051,1.414214,1.732051,1.414214,2.000000,1.732051
10,1.414214,1.732051,1.000000,1.414214,1.732051,2.000000,1.414214,1.732051,1.000000,1.414214,...,1.000000,1.414214,1.414214,1.732051,1.000000,1.414214,1.732051,2.000000,1.414214,1.732051
11,1.732051,1.414214,1.414214,1.000000,2.000000,1.732051,1.732051,1.414214,1.414214,1.000000,...,1.414214,1.000000,1.732051,1.414214,1.414214,1.000000,2.000000,1.732051,1.732051,1.414214
12,1.414214,1.732051,1.732051,2.000000,1.000000,1.414214,1.414214,1.732051,1.000000,1.414214,...,1.000000,1.414214,1.414214,1.732051,1.732051,2.000000,1.000000,1.414214,1.414214,1.732051
13,1.732051,1.414214,2.000000,1.732051,1.414214,1.000000,1.732051,1.414214,1.414214,1.000000,...,1.414214,1.000000,1.732051,1.414214,2.000000,1.732051,1.414214,1.000000,1.732051,1.414214
14,1.732051,2.000000,1.414214,1.732051,1.414214,1.732051,1.000000,1.414214,1.414214,1.732051,...,0.000000,1.000000,1.732051,2.000000,1.414214,1.732051,1.414214,1.732051,1.000000,1.414214
15,2.000000,1.732051,1.732051,1.414214,1.732051,1.414214,1.414214,1.000000,1.732051,1.414214,...,1.000000,0.000000,2.000000,1.732051,1.732051,1.414214,1.732051,1.414214,1.414214,1.000000
16,2.000000,2.236068,2.236068,2.449490,2.236068,2.449490,2.449490,2.645751,1.000000,1.414214,...,1.732051,2.000000,0.000000,1.000000,1.000000,1.414214,1.000000,1.414214,1.414214,1.732051
17,2.236068,2.000000,2.449490,2.236068,2.449490,2.236068,2.645751,2.449490,1.414214,1.000000,...,2.000000,1.732051,1.000000,0.000000,1.414214,1.000000,1.414214,1.000000,1.732051,1.414214
18,2.236068,2.449490,2.000000,2.236068,2.449490,2.645751,2.236068,2.449490,1.414214,1.732051,...,1.414214,1.732051,1.000000,1.414214,0.000000,1.000000,1.414214,1.732051,1.000000,1.414214
19,2.449490,2.236068,2.236068,2.000000,2.645751,2.449490,2.449490,2.236068,1.732051,1.414214,...,1.732051,1.414214,1.414214,1.000000,1.000000,0.000000,1.732051,1.414214,1.414214,1.000000
20,2.236068,2.449490,2.449490,2.645751,2.000000,2.236068,2.236068,2.449490,1.414214,1.732051,...,1.414214,1.732051,1.000000,1.414214,1.414214,1.732051,0.000000,1.000000,1.000000,1.414214
21,2.449490,2.236068,2.645751,2.449490,2.236068,2.000000,2.449490,2.236068,1.732051,1.414214,...,1.732051,1.414214,1.414214,1.000000,1.732051,1.414214,1.000000,0.000000,1.414214,1.000000
22,2.449490,2.645751,2.236068,2.449490,2.236068,2.449490,2.000000,2.236068,1.732051,2.000000,...,1.000000,1.414214,1.414214,1.732051,1.000000,1.414214,1.000000,1.414214,0.000000,1.000000
23,2.645751,2.449490,2.449490,2.236068,2.449490,2.236068,2.236068,2.000000,2.000000,1.732051,...,1.414214,1.000000,1.732051,1.414214,1.414214,1.000000,1.414214,1.000000,1.000000,0.000000

In [37]:
from scipy.sparse.csgraph import minimum_spanning_tree

In [71]:
lensesMST = minimum_spanning_tree(lensesDists)

In [72]:
lensesMST.toarray().astype(float)

array([[ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,
         1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,
         0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.]])